<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="keywords" content="">

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- css files -->
	<link th:href="@{/lib/css/bootstrap.css}" rel="stylesheet" type="text/css"><!-- bootstrap css -->
	<!-- <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">-->
	<link th:href="@{/css/list.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	<link th:href="@{/lib/css/css}" rel="stylesheet">

	<!-- //google fonts -->

</head>
<body>

<!-- //header -->
<header>
	<div class="container">
		<!-- top header -->
		<!-- nav -->
		<nav class="pt-2">
			<div id="logo">
				<h1> <a th:href="@{/page/index}"><span class="fa fa-ship"></span> Travers</a></h1>
			</div>
			<!--<label for="drop" class="toggle">Menu</label>
			<input type="checkbox" id="drop">-->
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- banner -->
<section class="banner position-relative" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="slider-info">
				<div class="agileinfo-logo mt-lg-5">
					<h2>TRAVELS <br> 让旅游变得更简单</h2>
					<!--<a href="#">Contact Us</a>-->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //banner -->
<!-- about -->
<section class="shipping min-s py-5">
	<!-- features -->
	<div class="features">
		<div class="container">
			<div class="w3ls-title">
				<h3 class="agileits-title">详细信息</h3>
			</div>
			<div class="features-agilerow">
				<div class="col-sm-6 features-left">
					<div class="features-w3grid">
						<div class="col-xs-9 features-w3grid-right">
							<h4><i class="fa fa-heart-o" aria-hidden="true"></i>  专线名 </h4>
							<p><span th:text="${companies.getName()}"></span></p>
							<hr class="h-25"/>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid features-w3grid-mdl">
						<div class="col-xs-9 features-w3grid-right">
							<h4><i class="fa fa-cogs" aria-hidden="true"></i> 主营线路</h4>
							<p><span th:text="${companies.getRoute()}"></span> </p>
							<hr class="h-25"/>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid">
						<div class="col-xs-9 features-w3grid-right">
							<h4><i class="fa fa-line-chart" aria-hidden="true"></i> 负责人 </h4>
							<p><span th:text="${companies.getOwnerUser()}"></span> </p>
							<hr class="h-25"/>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-sm-6 features-left">
					<div class="features-w3grid">
						<div class="col-xs-9 features-w3grid-right">
							<h4><i class="fa fa-cogs" aria-hidden="true"></i> 地址 </h4>
							<p><span th:text="${companies.getAddress()}"></span></p>
							<hr class="h-25"/>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid features-w3grid-mdl">
						<div class="col-xs-9 features-w3grid-right">
							<h4><i class="fa fa-line-chart" aria-hidden="true"></i> 销售联系人</h4>
							<div class="container py-lg-1 py-md-3" th:each="person : ${companies.getSalePersons()}">
								<div class="row" th:switch="${person.getType() == 1}">
									<p><span th:text="${person.getName()}"></span>&nbsp;
										<span th:text="${person.getPhone()}"></span>&nbsp;
										<span th:case="true">(散客)</span>
										<span th:case="false">(组团)</span>
									</p>
								</div>
							</div>
							<hr class="h-25"/>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid">
						<div class="col-xs-9 features-w3grid-right">
							<h4><i class="fa fa-heart-o" aria-hidden="true"></i> 许可证号</h4>
							<p><span th:text="${companies.getPermitNumber()}"></span></p>
							<hr class="h-25"/>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
	</div>
</section>
<!-- //about -->

<!-- footer-top -->
<section class="footer-top py-5">
	<div class="container">
		<div class="row footer-top-grid">
			<div class="col-sm-6">
				<h3>Contact Us</h3>
				<p>Call us, we are 24/7 Helpline</p>
			</div>
			<div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
				<h3><span class="fa fa-phone" aria-hidden="true"></span> +150 **** 5726</h3>
			</div>
		</div>
	</div>
</section>

</body></html>
